@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';

.user {
  border-top: 1px solid #DCE1E6;
  @include flex(row, space-between, stretch);
  padding: 12px 0;

  &:first-child {
    border-top: none;
  }

  .body {
    @include flex(row, stretch, flex-start);

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      cursor: pointer;
    }

    .content {
      padding: 7px 0;
      margin-left: 16px;
      max-width: 500px;
      overflow-wrap: break-word;

      .name {
        font-weight: 700;
        color: $colorAncillaryLight;

        &:hover {
          text-decoration: underline;
        }
      }

      .status {
        margin-top: 10px;
        color: #939393;
      }
    }
  }

  .followButton {
    width: 85px;
    align-self: center;

    &:disabled {
      opacity: 0.5;
      cursor: no-drop;
    }
  }
}
