@import 'src/styles/sass/variables.scss';

.contact {
  margin-top: 10px;
  color: $colorSecondaryLight;

  a {
    color: $colorAncillaryLight;

    &:hover {
      text-decoration: underline;
    }
  }
}
