@import 'styles/sass/mixins.scss';
@import 'styles/sass/variables.scss';

.login {
	@include flex(row, center, center);
	height: 100%;

	.container {
		width: 322px;
		min-height: 385px;
		border-radius: 10px;
		background-color: $bgSecondaryDark;
		border: 1px solid $borderDark;
		@include flex(column, center, center);
		padding: 32px 24px;

		.title {
			font-weight: 900;
			font-size: 16px;
			text-transform: uppercase;
			letter-spacing: 2px;
		}

		.form {
			margin-top: 40px;
			width: 100%;
			@include flex(column, space-between, stretch);

			.emailInputContainer {
				position: relative;

				.emailInput {
					width: 100%;
					border-radius: 8px;
					padding: 9.5px 38px 9.5px 12px;
					color: inherit;
					background-color: #292929;
					border: 1px solid #545454;

					&:focus {
						border: 1px solid #71AAEB;
					}

					&.errorEmailInput {
						background-color: #522E2E;
						border: 1px solid #FF5C5B;

						&::placeholder {
							color: rgb(170, 174, 179);
						}
					}
				}
			}

			.passwordInputContainer {
				margin-top: 20px;
				position: relative;

				.passwordInput {
					width: 100%;
					background-color: #292929;
					border: 1px solid #545454;
					border-radius: 8px;
					padding: 9.5px 38px 9.5px 12px;
					color: inherit;

					&:focus {
						border: 1px solid #71AAEB;
					}

					&.errorPasswordInput {
						background-color: #522E2E;
						border: 1px solid #FF5C5B;
						padding-right: 75px;

						&::placeholder {
							color: rgb(170, 174, 179);
						}
					}
				}
			}

			.label {
				margin-top: 20px;
				@include flex(row, stretch, center);

				.rememberMeCheckbox {
					appearance: none;
					width: 16px;
					height: 16px;
					border: 1.5px solid #656565;
					border-radius: 4px;
					margin-right: 9px;

					&:checked {
						appearance: none;
						background-color: #fff;
						border: none;
						background-image: url('checked.png');
						background-size: cover;
						background-position: center;
					}
				}

				.rememberMe {
					color: #828282;
				}
			}

			.captcha {
				@include flex(column, stretch, stretch);
				margin-top: 20px;

				.captchaImage {
					border-radius: 10px;
				}

				.captchaInput {
					margin-top: 20px;
					width: 100%;
					border-radius: 8px;
					padding: 9.5px 38px 9.5px 12px;
					color: inherit;
					background-color: #292929;
					border: 1px solid #545454;

					&:focus {
						border: 1px solid #71AAEB;
					}
				}
			}

			.loginBtn {
				margin-top: 20px;
				background-color: #FFF;
				color: #000;
				border-radius: 8px;
				padding: 10.5px 12px;
				transition: opacity 0.1s ease-in-out 0s;
			}
		}
	}
}

.errorEmailMessage,
.errorPasswordMessage {
	color: #FF5C5B;
	text-align: center;
	margin-top: 5px;
}