@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';
@import 'src/styles/sass/templates.scss';

.login {
  @extend %alignCenter;

  .container {
    width: 400px;
    min-height: 450px;
    border-radius: 10px;
    background-color: $bgSecondaryLight;
    @extend %borderLight;
    @include flex(column, space-between, center);
    padding: 52px 24px;

    h2 {
      font-weight: 900;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 5px;
      margin-top: 20px;
    }

    form {
      margin-top: 40px;
      width: 100%;
      @include flex(column, space-between, stretch);

      .emailInputContainer {
        position: relative;

        .emailInput {
          width: 100%;
          border-radius: 8px;
          padding: 9.5px 38px 9.5px 12px;
          background-color: #F0F2F5;
          border: 1px solid #D3D5D7;

          &:focus {
            border: 1px solid #71AAEB;
          }

          &.errorEmailInput {
            background-color: #FAEBEB;
            border: 1px solid #FF5C5B;

            &::placeholder {
              color: rgb(170, 174, 179);
            }
          }
        }
      }

      .passwordInputContainer {
        margin-top: 20px;
        position: relative;

        .passwordInput {
          width: 100%;
          border-radius: 8px;
          padding: 9.5px 38px 9.5px 12px;
          background-color: #F0F2F5;
          border: 1px solid #D3D5D7;

          &:focus {
            border: 1px solid #71AAEB;
          }

          &.errorPasswordInput {
            background-color: #FAEBEB;
            border: 1px solid #FF5C5B;
            padding-right: 75px;

            &::placeholder {
              color: rgb(170, 174, 179);
            }
          }
        }
      }

      label {
        margin-top: 20px;
        @include flex(row, stretch, center);

        .checkbox {
          appearance: none;
          width: 16px;
          height: 16px;
          border: 1.5px solid #AEB7C1;
          border-radius: 4px;
          margin-right: 9px;

          &:checked {
            appearance: none;
            background-color: #2196F3;
            border: none;
            background-image: url('../../assets/icons/checkedLight.png');
            background-size: cover;
            background-position: center;
          }
        }

        span {
          color: #828282;
        }
      }

      .captcha {
        @include flex(column, stretch, center);
        margin-top: 20px;

        img {
          border-radius: 10px;
          border: 1px solid #D3D5D7;
        }

        .captchaInput {
          margin-top: 20px;
          width: 100%;
          border-radius: 8px;
          padding: 9.5px 38px 9.5px 12px;
          color: inherit;
          background-color: #F0F2F5;
          border: 1px solid #D3D5D7;

          &:focus {
            border: 1px solid #447BBA;
          }
        }
      }

      .loginButton {
        height: 36px;
        line-height: 36px;
        margin-top: 40px;
        background-color: #0077FF;
        color: #FFF;
        border-radius: 8px;
        transition: opacity 0.1s ease-in-out 0s;
        @include flex(column, center, center);
        text-align: center;

        &:disabled {
          opacity: 0.5;
          cursor: no-drop;
        }
      }
    }
  }
}

.errorCircle {
  color: #E64645;
  position: absolute;
  top: 8.5px;
  right: 11px;
}

.errorEmailMessage,
.errorPasswordMessage {
  color: #FF5C5B;
  text-align: center;
  margin-top: 5px;
}
