@import 'src/styles/sass/variables.scss';
@import 'src/styles/sass/mixins.scss';

.button {
  height: 30px;
  line-height: 30px;
  width: 100%;
  @include flex(row, center, center);
  text-align: center;
  background-color: $bgButtonLight;
  border-radius: 10px;
  color: #fff;
  @include anim(0.2s, 0s);

  &:hover {
    background-color: #5B8BC3;
  }
}
