.span {
	cursor: pointer;
	color: rgb(172, 172, 172);
	margin-bottom: 30px;
	width: 350px;
	word-wrap: break-word;
	text-align: center;
	font-size: 20px;
}

.editableInput {
	margin-bottom: 30px;
	font-size: 20px;
	padding: 10px;
	border-radius: 10px;
}