@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';
@import 'src/styles/sass/templates.scss';

.posts {
  margin-top: 13px;

  .allPosts {
    margin-top: 13px;
    width: 552px;
    height: 45px;
    background-color: $bgSecondaryLight;
    border-radius: 10px 10px 0px 0px;
    padding: 15px 20px 12px 20px;
    @extend %borderLight;
    border-top: none;
    @include flex(row, space-between, stretch);

    .search {
      color: #aeb9cd;
      cursor: pointer;
    }
  }
}
