@import 'styles/sass/mixins.scss';

.filterContainer {
  @include flex(row, space-between, center);
  padding-right: 20px;
  border-bottom: 1px solid #DCE1E6;

  .searchInputContainer {
    position: relative;
    width: 100%;

    .searchIcon {
      position: absolute;
      bottom: 14px;
      left: 17px;
      color: #828282;
    }

    .searchInput {
      background-color: transparent;
      border: transparent;
      width: 100%;
      padding-left: 46px;
      padding-right: 32px;
      height: 45px;

      &::placeholder {
        color: #B2B2B2;
      }
    }
  }

  &.filterContainerDark {
    border-bottom: 1px solid #484848;
  }
}