$primaryBackgroundColor: #1f1f20;
$secondaryBackgroundColor: #252527;

$textColor: #fff;
$decorColor: rgb(255, 166, 77);

$primaryFont: 'Josefin Sans', sans-serif;
$secondaryFont: 'Poppins', sans-serif;