$bgPrimaryLight: #EDEEF0;
$bgSecondaryLight: #FFFFFF;
$bgPrimaryDark: #141414;
$bgSecondaryDark: #222222;

$colorDark: #E1E3E6;
$colorLight: #000000;
$colorSecondary: #71AAEB;

$borderDark: #333333;
$borderLight: rgba(231, 232, 236, 0.82);

$fontSize: 13px;
$textColor: #000;
$fontFamily: sans-serif;
$fontWeight: 400;