@import '../../styles/sass/variables.scss';

.users {

	.top {
		background-color: $secondaryBackgroundColor;
		padding: 30px;
		display: flex;
		width: 1128px;
		align-items: flex-end;
		justify-content: space-between;

		h2 {
			font-size: 40px;
			margin-bottom: 20px;
		}
	}

	.bottom {
		display: flex;
		flex-wrap: wrap;
	}
}