@import '../../styles/sass/variables.scss';
@import '../../styles/sass/mixins.scss';

.notFound {
	background-color: $secondaryBackgroundColor;
	width: 100%;
	@include flex (row, center, center);

	h1 {
		font-size: 80px;
		line-height: 1.5;

		a {
			text-decoration: underline;
			color: rgb(196, 196, 196);
		}
	}
}