@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';

.container {
  padding-top: 63px;
  width: 100%;

  .titleContainer {
    border: 1px solid red;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #E7E8EC;
    padding: 20px;
    background-color: #FAFBFC;

    .title {
      font-size: 15px;
    }
  }

  .edit {
    background-color: #fff;
    border-left: 1px solid #E7E8EC;
    border-right: 1px solid #E7E8EC;
    border-bottom: 1px solid #E7E8EC;
    padding: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 0px 0px 10px 10px;

    .editItem {
      color: #626D7A;
      margin-top: 20px;

      .checkbox {
        margin-left: 10px;
      }

      .editInput {
        border: 1px solid #DCE1E6;
        padding: 5px 10px;
        border-radius: 10px;
        width: 80%;
        margin-left: 10px;
      }
    }

    .lineContainer {
      margin-top: 20px;
    }

    .saveBtn {
      align-self: start;
      margin-left: 150px;
      width: 60px;
      height: 30px;
      background-color: #447BBA;
      color: #fff;
      border-radius: 10px;
      margin-top: 20px;
    }
  }

  //.edit {
  //  width: 100%;
  //  border-radius: 10px;
  //  border: 1px solid $borderLight;
  //  background-color: #fff;
  //  padding: 20px;
  //
  //  .titleContainer {
  //    border: 1px solid red;
  //  }
  //}
}