@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';

.container {
  padding-top: 63px;
  width: 100%;

  .profile {
    width: 100%;
    display: flex;

    .leftBlock {

      .content {
        width: 230px;
        border-radius: 15px;
        border: 1px solid $borderLight;
        background-color: $bgSecondaryLight;
        padding: 15px;
        @include flex(column, center, center);

        .avatarImageContainer {
          position: relative;
          width: 100%;

          .defaultAvatarImage {
            width: 100%;
            cursor: pointer;
          }

          .editPhoto {
            position: absolute;
            bottom: 20px;
            left: 55px;
            color: #2A5885;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .editLink {
          margin-top: 12px;
          height: 30px;
          width: 100%;
          background-color: #E5EBF1;
          border-radius: 10px;
          @include flex(row, center, center);
          color: #2A5885;

          &:hover {
            background-color: rgb(226, 229, 234);
            cursor: pointer;
          }
        }
      }
    }

    .rightBlock {
      margin-left: 13px;
      width: 100%;
    }
  }
}

.avatarImageTest {
  width: 100%;
}

.deleteAvatarContainer {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 18px;
  border-radius: 0px 0px 0px 2px;
  background-color: #1f1f20;
  opacity: 0.8;
  @include flex(row, center, center);

  .deleteAvatar {
    color: rgba(255, 255, 255, 0.73);
    transition: color 0.1s ease-in-out 0s;

    &:hover {
      color: #fff;
    }
  }
}

.updatePhotoBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px 0px;
  background-color: #000;
  opacity: 0.8;
  color: #fff;
}
