@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';

.container {
  padding-top: 63px;
  width: 100%;

  .profile {
    width: 100%;
    display: flex;

    .leftBlock {

      .content {
        width: 230px;
        border-radius: 15px;
        border: 1px solid $borderLight;
        background-color: $bgSecondaryLight;
        padding: 15px;
        @include flex(column, center, center);

        .avatarImageContainer {
          position: relative;
          width: 100%;

          .avatarImage {
            width: 100%;
          }

          .defaultAvatarImage {
            width: 100%;
            cursor: pointer;
          }

          .uploadPhoto {
            position: absolute;
            bottom: 5%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #2A5885;
            width: 100%;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .editLink {
          margin-top: 12px;
          height: 30px;
          width: 100%;
          background-color: #E5EBF1;
          border-radius: 10px;
          @include flex(row, center, center);
          color: #2A5885;

          &:hover {
            background-color: rgb(226, 229, 234);
            cursor: pointer;
          }
        }

        .followBtn {
          margin-top: 12px;
          height: 30px;
          width: 100%;
          background-color: #447BBA;
          border-radius: 10px;
          color: #fff;
          @include flex(row, center, center);

          &:hover {
            background-color: #5B8BC3;
          }
        }
      }
    }

    .rightBlock {
      margin-left: 13px;
      width: 100%;
    }
  }
}

.changeAvatarBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0px;
  background-color: #000;
  opacity: 0.8;
  color: #fff;
}