@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';

.field {
  color: #818C99;
  margin-top: 18px;

  span {
    color: $colorAncillaryLight;
  }

  .input {
    color: #000;
    padding: 4px 6px;
    margin: 4px 0;
    width: 100%;
    text-align: left;
    border-radius: 7px;
    border: 1px solid #DCE1E6;
  }
}

.buttons {
  @include flex(row, space-between, center);
  margin-top: 20px;

  .saveButton,
  .backButton {
    width: 59.8px;
  }
}

.errorMessage {
  margin-top: 5px;
  color: red;
}
