@import 'src/styles/sass/mixins.scss';

.errorAlert {
  position: fixed;
  bottom: 15px;
  left: 15px;
  background-color: #D32F2F;
  padding: 20px;
  min-width: 300px;
  border-radius: 10px;
  @include flex(row, space-between, center);

  .alertContainer {
    @include flex(row, stretch, center);

    .errorCircle {
      @include flex(row, center, flex-end);
      min-width: 20px;
      min-height: 20px;
      border-radius: 50%;
      color: #FFF;
      font-weight: 700;
      border: 2px solid #FFF;
      margin-right: 13px;
    }

    .alert {
      margin-right: 20px;
      color: #FFF;
      max-width: 1500px;
      overflow-wrap: break-word;
    }
  }

  .deactivateErrorAlertBtn {
    color: #fff;
  }
}