@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';
@import 'src/styles/sass/templates.scss';

.post {
  background-color: $bgSecondaryLight;
  border-radius: 0 0 10px 10px;
  min-height: 159px;
  padding: 15px 20px 12px 20px;
  @extend %borderLight;
  border-top: none;
  margin-bottom: 13px;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }

  .userInfo {
    @include flex(row, space-between, center);

    .content {
      @include flex(row, stretch, center);

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .body {
        @include flex(column, space-between, stretch);
        margin-left: 15px;
        height: 33px;

        .name {
          color: $colorAncillaryLight;
          font-weight: 500;
          font-size: 13px;

          span {
            font-weight: 400;
            color: $colorSecondaryLight;
          }
        }

        .time {
          color: $colorSecondaryLight;
        }
      }
    }

    .threeDotsIconContainer {
      position: relative;

      .threeDotsIcon {
        color: #aeb7c1;
        cursor: pointer;
      }
    }
  }

  .messageContainer {
    margin-top: 18px;
    margin-bottom: 22px;
    line-height: 1.6;
    width: 100%;

    .editPostInput {
      padding: 4px 6px;
      height: 48px;
      margin: 4px 0;
      width: 100%;
      text-align: left;
      color: #000;
      border-radius: 7px;
      border: 1px solid #DCE1E6;
    }

    .message {
      max-width: 508px;
      overflow-wrap: break-word;
    }
  }

  .buttons {
    display: flex;
    margin-bottom: 18px;

    .cancelButton {
      width: 59.8px;
      background-color: transparent;
      color: $colorAncillaryLight;

      &:hover {
        background-color: #E8EDF3;
      }
    }

    .saveButton {
      width: 59.8px;
      margin-right: 10px;
    }
  }

  .addLike {
    padding: 0 13px;
    height: 32px;
    border-radius: 15px;
    @include flex(row, center, center);
    background-color: #f0f2f5;

    &.additionalAddLike {
      background-color: #ffeded;
    }

    .amount {
      color: $colorSecondaryLight;
      font-weight: 500;

      &.additionalAmount {
        margin-left: 4.1px;
      }
    }
  }
}
