@import 'styles/sass/mixins.scss';
@import 'styles/sass/variables.scss';

.popup {
	width: 300px;
	background-color: $bgSecondaryLight;
	position: absolute;
	top: 50px;
	right: 0;
	box-shadow: 0 20px 40px 0 rgb(0 0 0 / 30%);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 12px 0px;
	border: 1px solid $borderLight;

	.watercolorContainer,
	.logOutBtn {
		height: 36px;
		padding: 0px 16px;
		width: 100%;
		@include flex(row, stretch, center);

		.watercolorIcon,
		.logOutIcon {
			margin-right: 10px;
		}
	}

	&.dark {
		color: $colorDark;
		background-color: #292929;
		border: 1px solid $borderDark;
	}
}