@import './reset.scss';
@import './sass/variables.scss';
@import './sass/templates.scss';

body {
	color: $textColor;
	background: $backgroundColor;
	font-family: $fontFamily;
	font-size: $fontSize;
	font-weight: $fontWeight;
	min-height: 93.8vh;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

.app {
	margin-top: 60px;
}