@import './reset.scss';
@import './sass/variables.scss';
@import './sass/templates.scss';

body {
  font-size: $fontSize;
  font-weight: $fontWeight;
  font-family: $fontFamily;
  color: $colorPrimaryLight;
  overflow-y: scroll;
}

.app {
  background: $bgPrimaryLight;
  min-height: 100vh;

  .content {
    display: flex;
    max-width: 975px;
    margin: 0 auto;
  }

  &.darkApp {
    background: $bgPrimaryDark;
    color: $colorPrimaryDark;
  }
}
