@import './reset.scss';
@import './sass/variables.scss';
@import './sass/templates.scss';

body {
	color: $textColor;
	font-family: $fontFamily;
	font-size: $fontSize;
	font-weight: $fontWeight;
}

.app {
	background: $bgPrimaryLight;
	height: 100vh;

	&.dark {
		background: $bgPrimaryDark;
		color: $colorDark;
	}

	.container {
		max-width: 960px;
		margin: 0 auto;
	}
}