	@import 'styles/sass/templates.scss';

	.addItemForm {
		@include flex (column, stretch, center);

		.errorMessage {
			color: red;
			font-size: 20px;
			margin-bottom: 20px;
		}

		textarea {
			padding: 20px;
			border-radius: 10px;
			width: 60%;
			resize: none;
			font-size: 25px;
			margin-bottom: 20px;
			outline: none;
		}

		.textareaError {
			border: 3px solid red;
		}

		button {
			@extend %btnLink;
		}
	}