@import 'styles/sass/mixins.scss';

.errorCircle {
  @include flex(row, center, center);
  width: 18.86px;
  height: 18.86px;
  font-weight: 700;
  border-radius: 50%;
  color: #E64645;
  position: absolute;
  top: 8.5px;
  right: 11px;
  border: 1.5px solid #E64647;
}