@import 'src/styles/sass/variables.scss';

.container {
  margin-top: 10px;
  color: $colorSecondaryLight;

  .link {
    color: $colorAncillaryLight;

    &:hover {
      text-decoration: underline;
    }
  }
}
