@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';

.button {
  padding: 4px 6px;
  color: #939393;
  width: 100%;
  text-align: left;

  &:hover {
    background-color: $bgHoverLight;
  }
}
