@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';

.usersSearch {
  @include flex(row, space-between, center);
  padding-right: 20px;
  border-bottom: 1px solid #DCE1E6;

  .searchInputContainer {
    position: relative;
    width: 100%;

    .searchIcon {
      position: absolute;
      bottom: 12px;
      left: 17px;
      color: #828282;
    }
  }

  .findContainer {
    position: relative;

    .find {
      @include flex(row, space-between, center);
      padding: 14px 0 14px 14px;

      .params {
        color: #2a5885;

        &:hover {
          text-decoration: underline;
        }
      }

      .icon {
        margin-left: 3px;
        color: #92A0B1;
      }
    }
  }
}
