@import '../../../styles/sass/variables.scss';
@import '../../../styles/sass/mixins.scss';

.myPost {
	margin-top: 20px;
	padding: 50px;
	background-color: $secondaryBackgroundColor;
	@include flex (row, space-between, center);

	.postBody {

		img {
			width: 100px;
			height: 100px;
			margin-bottom: 20px;
			border-radius: 50%;
		}

		.likes {
			margin-top: 20px;
			color: rgb(172, 172, 172);
		}
	}

	.postMessage {
		font-size: 20px;
		line-height: 1.5;
	}

	button {
		color: rgb(172, 172, 172);
		align-self: start;
	}
}