@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';
@import 'src/styles/sass/templates.scss';

.postsEmpty {
  background-color: $bgSecondaryLight;
  border-radius: 0 0 10px 10px;
  height: 159px;
  @extend %borderLight;
  border-top: none;
  @include flex(row, center, center);

  .body {
    height: 87px;
    @include flex(column, space-between, center);

    .icon {
      color: #AEB7C1;
    }

    .text {
      color: $colorSecondaryLight;
    }
  }
}
