@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';
@import 'src/styles/sass/templates.scss';

.avatar {
  border-radius: 15px;
  @extend %borderLight;
  background-color: $bgSecondaryLight;
  padding: 15px;
  width: 230px;

  .userAvatarImage,
  .defaultAvatarImage {
    width: 100%;
  }

  .editLink {
    margin-top: 12px;
    background-color: #E5EBF1;
    color: $colorAncillaryLight;

    &:hover {
      background-color: rgb(226, 229, 234);
    }
  }

  .followButton {
    margin-top: 12px;
  }
}
