@import 'src/styles/sass/variables.scss';
@import 'src/styles/sass/templates.scss';

.rightBlock {
  margin-left: 13px;
  width: 100%;

  .searchPosts {
    margin-top: 13px;
    width: 100%;
    height: 45px;
    background-color: $bgSecondaryLight;
    border-radius: 10px 10px 0 0;
    padding: 15px 20px 12px 20px;
    @extend %borderLight;
    border-top: none;
  }
}
