@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';
@import 'src/styles/sass/templates.scss';

.container {
  width: 552px;
  background-color: $bgSecondaryLight;
  border-radius: 0px 0px 10px 10px;
  min-height: 159px;
  padding: 15px 20px 12px 20px;
  @extend %borderLight;
  border-top: none;
  margin-bottom: 13px;

  .userInfo {
    @include flex(row, space-between, center);

    .content {
      @include flex(row, stretch, center);

      .userAvatarImage {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      .body {
        @include flex(column, space-between, stretch);
        margin-left: 15px;
        height: 33px;

        .name {
          color: $colorAncillaryLight;
          font-weight: 500;
          font-size: 13px;

          span {
            font-weight: 400;
            color: $colorSecondaryLight;
          }
        }

        .time {
          color: $colorSecondaryLight;
        }
      }

      .editBtn {
      }
    }

    .threeDotsContainer {
      position: relative;

      .threeDots {
        color: #aeb7c1;
        cursor: pointer;

        .postInfoPopup {
          position: absolute;
          top: 25px;
          right: -60px;
          width: 150px;
          border-radius: 10px;
          box-shadow: $boxShadowPopup;
          background-color: #fff;
          color: #000;
          padding: 5px 0px;

          .deletePostBtn {
            width: 100%;
            height: 36px;

            &:hover {
              background-color: $bgHoverLight;
            }
          }
        }
      }
    }
  }

  .message {
    margin-top: 18px;
    margin-bottom: 22px;
    line-height: 1.6;
    max-width: 508px;
    overflow-wrap: break-word;

    .editPostInput {
      padding: 4px 6px;
      min-height: 48px;
      margin: 4px 6px;
      width: 100%;
      text-align: left;
      color: #000;
      border-radius: 7px;
      border: 1px solid #DCE1E6;
    }
  }

  .buttons {
    display: flex;
    margin-bottom: 18px;

    .cancelBtn {
      width: 59.8px;
      background-color: transparent;
      color: $colorAncillaryLight;
      margin-right: 10px;

      &:hover {
        background-color: #E8EDF3;
      }
    }

    .cancelSave {
      width: 59.8px;
    }
  }

  .noAuthorizedUserLike {
    padding: 0px 13px;
    height: 32px;
    border-radius: 15px;
    @include flex(row, center, center);
    background-color: #f0f2f5;

    .amount {
      color: $colorSecondaryLight;
      font-weight: 500;

      &.test {
        margin-left: 4.1px;
      }
    }

    &.haveAuthorizedUserLike {
      background-color: #ffeded;
    }
  }

  &:last-child {
    margin: 0;
  }
}
