@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 49px;
  width: 100%;
  background-color: $bgSecondaryLight;
  @include flex(row, center, stretch);
  border-bottom: 1px solid $borderLight;

  .container {
    width: 960px;
    @include flex(row, space-between, center);

    .title {
      font-weight: 900;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .logOutBtn {
      height: 100%;
      padding: 0 10px;
      @include flex(row, stretch, center);

      .logOutIcon {
        margin-right: 10px;
      }

      &:hover {
        background-color: $bgHoverLight;
      }
    }
  }
}
