@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';

.header {
  position: relative;
  padding-top: 62px;

  .container {
    position: fixed;
    top: 0;
    left: 0;
    height: 49px;
    width: 100%;
    padding: 0 470px;
    background-color: $bgSecondaryLight;
    @include flex(row, space-between, center);
    border-bottom: 1px solid $borderLight;

    h1 {
      font-weight: 900;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .button {
      height: 100%;
      padding: 0 10px;
      @include flex(row, stretch, center);

      &:hover {
        background-color: $bgHoverLight;
      }

      .icon {
        margin-right: 10px;
        color: $colorIconLight;
      }
    }
  }
}
