@import '../../styles//sass/variables.scss';

.header {
	background-color: $secondaryBackgroundColor;
	height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 235px 0px 235px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	.title {
		text-transform: uppercase;
		font-size: 25px;
	}

	.body {
		display: flex;

		.name {
			font-size: 20px;
		}

		.logOut {
			color: inherit;
			margin-left: 20px;
		}
	}
}