@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';

.navBar {
  margin-right: 10px;

  .container {
    width: 163px;
    @include flex(column, stretch, stretch);

    .link {
      @include flex(row, stretch, center);
      height: 30px;
      padding-left: 6px;
      border-radius: 5px;

      .icon {
        margin-right: 9.5px;
        color: $colorIconLight;
      }

      &:hover {
        background-color: #E5E7EB;
      }
    }
  }
}
