@import '../../styles//sass/variables.scss';

.navBar {
	background-color: $secondaryBackgroundColor;
	min-width: 300px;
	min-height: 89vh;
	margin-right: 20px;
	padding: 80px;

	.list {
		font-size: 35px;

		li {
			margin-bottom: 30px;
			text-align: center;

			a {
				transition: color 0.2s ease-in 0s;

				&:hover {
					color: rgb(196, 196, 196);
				}
			}
		}
	}
}