	@import 'styles/sass/variables.scss';

	.pagination {

		button {
			font-size: 20px;
			color: white;
			padding: 5px 10px;
			text-decoration: none;
			transition: background-color .3s;

			&:hover:not(.active) {
				background-color: #484848;
			}
		}

		.active {
			background-color: $decorColor;
		}
	}