@import 'src/styles/sass/variables.scss';

.pagination {

  .button {
    font-size: 13px;
    padding: 5px 10px;
    text-decoration: none;
    transition: background-color .3s;

    &:hover:not(.active) {
      background-color: #d1e1ff;
    }

    &.active {
      background-color: #9cc8fc;
    }
  }
}
