@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';
@import 'src/styles/sass/templates.scss';

.information {
  width: 552px;
  background-color: #fff;
  @extend %borderLight;
  padding: 15px 20px;
  border-radius: 15px;

  .nameContainer {
    @include flex(row, space-between, center);

    .name {
      font-size: 19px;
    }

    span {
      color: #8B95A1;
      font-size: 12.5px;
    }
  }

  .statusContainer {
    margin: -4px -6px;
    margin-top: 0.1px;
    margin-bottom: 17px;
    height: 24px;

    .status {
      padding: 5px 6px;
      color: #939393;
    }
  }
}
