@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';

.filterContainer {
  @include flex(row, space-between, center);
  padding-right: 20px;
  border-bottom: 1px solid #DCE1E6;

  .searchInputContainer {
    position: relative;
    width: 100%;

    .searchIcon {
      position: absolute;
      bottom: 14px;
      left: 17px;
      color: #828282;
    }

    .searchInput {
      background-color: transparent;
      border: transparent;
      width: 100%;
      padding-left: 46px;
      padding-right: 32px;
      height: 45px;

      &::placeholder {
        color: #B2B2B2;
      }
    }
  }

  .findContainer {
    position: relative;

    .find {
      @include flex(row, space-between, center);
      padding: 14px 0px 14px 14px;

      .params {
        color: #2a5885;

        &:hover {
          text-decoration: underline;
        }
      }

      .arrowDownIcon {
        margin-left: 3px;
      }
    }
  }
}
