.editableItemBtn {
  padding: 4px 6px;
  color: #939393;
  width: 100%;
  text-align: left;

  &:hover {
    background-color: #F5F6F8;
  }
}

.input {
  padding: 4px 6px;
  margin: 4px 6px;
  width: 100%;
  text-align: left;
  color: #000;
  border-radius: 7px;
  border: 1px solid #DCE1E6;
}
