@import '../../../styles/sass/variables.scss';
@import '../../../styles/sass/templates.scss';

.about {
	background-color: $secondaryBackgroundColor;
	padding: 50px;
	height: 100%;
	width: 100%;

	h1 {
		font-size: 50px;
		margin-bottom: 30px;
	}

	.aboutList {

		li {
			color: rgb(172, 172, 172);
			margin-top: 20px;
			font-size: 20px;

			span {
				color: #fff;
			}
		}
	}

	h2 {
		font-size: 30px;
		margin: 30px 0px 30px 0px;
	}

	.contactsList {

		li {
			color: rgb(172, 172, 172);
			margin-top: 20px;
			font-size: 20px;

			span {
				color: #fff;
			}
		}
	}

	button {
		margin-top: 20px;
		@extend %btnLink;
	}
}

.errorMessage {
	margin-top: 10px;
	color: red;
}

input {
	padding: 5px;
	border-radius: 10px;
	margin-left: 5px;
}

.errorInput {
	border: 3px solid red;
}