@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';
@import 'src/styles/sass/templates.scss';

.users {
  width: 100%;
  margin-bottom: 76px;
  border-radius: 10px;
  background-color: #FFF;
  @extend %borderLight;

  .body {
    border-bottom: 1px solid #DCE1E6;
    background-color: #FAFBFC;
    border-radius: 10px 10px 0 0;
    padding: 0 15px;
    height: 45px;
    @include flex(row, space-between, center);
  }

  .userContainer {
    padding: 0 20px;
  }
}
