@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';
@import 'src/styles/sass/templates.scss';

.addPost {
  background-color: $bgSecondaryLight;
  border-radius: 10px;
  height: 54px;
  @extend %borderLight;
  position: relative;
  padding-left: 61px;

  .input {
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }

  .userAvatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 20px;
  }

  .button {
    position: absolute;
    top: 12px;
    right: 20px;
    width: 59.8px;
  }

  &.additionalAddPost {
    padding-right: 80px;
  }
}
