@import 'styles/sass/mixins.scss';

.container {
	@include flex(row, stretch, flex-end);

	.avatarImg {
		height: 50px;
		width: 50px;
		border-radius: 50%;
	}

	.angle {
		width: 15px;
		height: 15px;
		background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(187, 187, 187, 0.3) 0);
	}

	.content {
		padding: 10px;
		border-radius: 5px 5px 5px 0;
		background-color: rgba(187, 187, 187, 0.3);
		line-height: 25px;

		.body {
			@include flex(row, space-between, center);

			.name {
				font-size: 20px;
				font-weight: 700;
			}

			.crossIcon {
				height: 30px;
				width: 30px;
				cursor: pointer;
			}
		}

		.messageText {
			margin-top: 17px;
			font-size: 20px;
			line-height: 24px;
			color: inherit;
			max-width: 500px;
			text-align: left;
			overflow-wrap: break-word;
		}

		.time {
			@include flex(row, flex-end, stretch);
			opacity: 0.5;
		}
	}
}