@import 'src/styles/sass/mixins.scss';

.container {
  position: absolute;
  left: 0px;
  top: 0px;

  .notFoundImage {
    width: 99vw;
    height: 100vh;
    background-image: url('../../assets/images/notFound.png');
  }
}
