.input {
	padding: 5px 15px;
	border: 1px solid black;
}

.input:focus {
	outline: none;
}

.errorInput {
	padding: 5px 15px;
	border: 1px solid red;
}

.errorInput:focus {
	outline: none;
}

.errorMessage {
	color: red;
}