@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';

.jobContainer {
  @include flex(row, flex-start, center);
  margin-top: 18px;

  .item {
    color: #818C99;
  }

  span {
    color: #2A5885;
  }
}

.showInformationBtn {
  @include flex(row, center, center);
  margin-top: 10px;
  border-radius: 8px;
  height: 35px;
  width: 100%;
  color: #2A5885;

  &:hover {
    background-color: #EDEEF0;
  }
}

.contactsContainer {
  margin-top: 20px;
}

.field {
  margin-top: 10px;
  color: #818C99;

  span {
    color: #2A5885;
  }
}